body {
    background-color: transparent !important;
}

.CodeMirror {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f5f5f5;
    height: 200px;
    font-family: Menlo, sans-serif;
    font-size: 12px;
    line-height: 150%;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}